* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
 
}

.card{
 
  background-color:pink;
  margin:20px;
  padding:20px;
  /* border: 1px solid green;  */
  border-radius: 10px;  /* is used to round the corner of the border */

}

.nav{
  background-color: lightblue;
  margin:20px;
  padding:5px; 
}
